div { 
  color: red;
}

@media (min-width: 992px){
  div {
  color: blue;
  width: 100px;
  float: left;
  }
}
@media (min-width: 768px) and (max-width: 991px){

}
@media (max-width: 767) {
  #colum3 { 
    clear: left;}
}
